*.iml
.gradle
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/local.properties
/build
/app/release
/reports
/captures
.DS_Store
.externalNativeBuild
.cxx
local.properties
